---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=147f5ca86e2cf248e2385e3d50d3577f&format=json&method=flickr.photos.search&nojsoncallback=1&text=gnu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":787,"perpage":100,"total":"78642","photo":[{"id":"51119821508","owner":"11555596@N02","secret":"2a0a0d9cb4","server":"65535","farm":66,"title":"Antelopes.
        Blue Wildebeest.. Kruger National Park. South Africa. Mar\/2021","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51120707535","owner":"11555596@N02","secret":"1b170755be","server":"65535","farm":66,"title":"Antelopes.
        Blue Wildebeest.. Kruger National Park. South Africa. Mar\/2021","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51119662859","owner":"11555596@N02","secret":"e2c8f29e9b","server":"65535","farm":66,"title":"Antelopes.
        Blue Wildebeest.. Kruger National Park. South Africa. Mar\/2021","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51119662769","owner":"11555596@N02","sec[...]
